.app {
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.sunny {
  background-image: url("./assets/sunny.jpg");
}
.snow {
  background-image: url("./assets/snow.jpg");
}
.rain {
  background-image: url("./assets/rain.jpg");
}
.day {
  background-image: url("./assets/day.jpg");
}

.css-1h51icj-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
  color: red;
}
