.app {
  background-image: url("./assets/sunny.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}
.app.snow {
  background-image: url("./assets/snow.jpg");
}
.app.rain {
  background-image: url("./assets/rain.jpg");
}
.app.day {
  background-image: url("./assets/day.jpg");
}
